
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>


    .header {
        width: 100%;
        height: 200px;
        background: linear-gradient(rgb(255, 170, 14), #fb4b00);
    }

    

    .lienhe {
        height: 550px;
        display: flex;
        justify-content: center;
        color: rgb(78, 12, 12);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .bio {
        margin-right: 90px;
    }

    .form {
        background-color: #ffffff;
        border-radius: 30px;
        width: 500px;
        height: 450px;
        margin-top: 40px;
        border: 1px solid var(--primary-color);
        box-shadow: 0px 0px 10px 3px var(--primary-color);
    }

        .form h1 {
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
        }

    form {
        height: 350px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .form input {
        margin: auto;
        width: 90%;
        padding: 10px;
        margin-bottom: 0;
        margin-top: 10px;
        border-radius: 10px;
        outline: none;
        border: 1px solid var(--primary-color);
        background-color: antiquewhite;
    }

    .form textarea {
        width: 90%;
        margin: auto;
        border-radius: 10px;
        outline: none;
        margin-top: 20px;
        border: 1px solid var(--primary-color);
        background-color: antiquewhite;
        padding: 10px;
        resize: none;
    }

    form button {
        width: 93%;
        margin: auto;
        margin-top: 20px;
        height: 15%;
        border-radius: 40px;
        background-color: var(--primary-color);
        font-size: 18px;
        color: #ffffff;
        border: none;
    }

        form button:hover {
            cursor: pointer;
            opacity: 0.8;
        }

    .bio h1 {
        margin: 50px;
        margin-left: 0;
        font-size: 22px;
        text-transform: uppercase;
    }

    .bio h2 {
        margin: 20px;
        margin-left: 0;
        font-size: 18px;
    }

    .bio li {
        font-size: 16px;
        line-height: 40px;
    }

    .bio ul {
        margin-bottom: 20px;
    }

    .bio i {
        padding: 10px;
        border-radius: 50%;
        color: #ffffff;
    }

    .bio .ti-facebook {
        background-color: #3B5998;
    }

    .bio .ti-email {
        background-color: #70CADB;
    }

    .bio .ti-instagram {
        background-color: #E95950;
    }

    .bio .ti-linkedin {
        background-color: #0077B5;
    }

    .bio .ti-youtube {
        background-color: #E50914;
    }

    .bio i:hover {
        cursor: pointer;
    }

    .footer {
        background-color: rgb(255 247 245);
        height: 220px;
        width: 100%;
        display: flex;
        justify-content: center;
        color: #000000;
    }

        .footer img {
            height: 60%;
            border-radius: 20px;
            margin-right: 50px;
            margin-top: auto;
            margin-bottom: auto;
        }

        .footer .con {
            margin-left: 20px;
            margin-top: 20px;
            margin-right: 20px;
            line-height: 30px;
            display: flex;
            flex-direction: column;
            font-family: "Roboto Condensed", sans-serif;
        }

            .footer .con h1 {
                margin-bottom: 10px;
                font-size: 24px;
            }

            .footer .con a {
                text-decoration: none;
                color: #000000;
                font-size: 16px;
            }

        .footer a:hover {
            color: var(--primary-color);
        }

        .footer li:hover {
            cursor: pointer;
        }

        .footer li {
            list-style: circle;
        }
</style>
<!-- 2. Container -->
<div class="container">
    <div class="lienhe">
        <div class="bio">
            <h1>Liên hệ với chúng tôi</h1>
            <h2>CÔNG TY CỔ PHẦN XE KHÁCH PHƯƠNG TRANG - FUTA BUS LINES</h2>
            <ul>
                <li>Địa chỉ: Số 01 Tô Hiến Thành, Phường 3, Thành phố Đà Lạt, Tỉnh Lâm Đồng, Việt Nam</li>
                <li>Website: <a href="index.html">https://futabus.vn/</a></li>
                <li>Điện thoại: 02838386852</li>
            </ul>
            <i class="ti-facebook"></i>
            <i class="ti-email"></i>
            <i class="ti-instagram"></i>
            <i class="ti-linkedin"></i>
            <i class="ti-youtube"></i>
        </div>
        <div class="form">
            <h1 class="tieude"> Liên hệ tư vấn khách hàng</h1>
            <form>
                <input id="name" type="text" placeholder="Họ tên của bạn" autocomplete="off" required>
                <div class="error"><span id="error_name"></span></div>
                <input id="sdt" type="text" placeholder="Nhập số điện thoại của bạn" autocomplete="off" required>
                <div class="error"><span id="error_phone"></span></div>
                <textarea id="bio" name="" cols="30" rows="10" required></textarea>
                <button onclick="hienthi()" type="button">Gửi liên hệ</button>
            </form>
        </div>
        <script>
                function hienthi(){
                    var name = document.getElementById("name").value;
                    var sdt = document.getElementById("sdt").value;
                    var bio = document.getElementById("bio");
                    let ktloi = false;

                    let regex_name = /^[A-ZÀÁẠẢÃÂẦẤẬẨẪĂẰẮẶẲẴÈÉẸẺẼÊỀẾỆỂỄÌÍỊỈĨÒÓỌỎÕÔỒỐỘỔỖƠỜỚỢỞỠÙÚỤỦŨƯỪỨỰỬỮỲÝỴỶỸĐ][a-zàáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđ]*(?:\s[A-ZÀÁẠẢÃÂẦẤẬẨẪĂẰẮẶẲẴÈÉẸẺẼÊỀẾỆỂỄÌÍỊỈĨÒÓỌỎÕÔỒỐỘỔỖƠỜỚỢỞỠÙÚỤỦŨƯỪỨỰỬỮỲÝỴỶỸĐ][a-zàáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđ]*)*$/;
                    if(regex_name.test(name) ==false){

                        document.getElementById('error_name').innerHTML='&emsp; tên nhập sai(Phải viết hoa chữ đầu và chữ phải có nghĩa)&emsp;';
                        ktloi=true;
                    }else{
                        document.getElementById('error_name').innerHTML='';
                        ktloi=false;
                    }

                    let regex_phone = /^(?:0|\+84)[1-9][0-9]{8}$/;
                    if(regex_phone.test(sdt) ==false){

                        document.getElementById('error_phone').innerHTML='&emsp; Số điện thoại nhập không đúng&emsp;';
                        ktloi=true;
                    }else{
                        document.getElementById('error_phone').innerHTML='';
                        ktloi=false;
                    }
                    var n = bio.value;
                    if(n ==""){
                        ktloi=true;
                    }else{
                        ktloi=false;
                    }
                if(ktloi==false){
                    alert("Cảm ơn bạn đã liên hệ với chúng tôi! Chúng tôi sẽ cố gắng phản hồi sớm nhất cho bạn!");
                    console.log("Name: " +name);
                    console.log("SDT: " +sdt);
                    console.log("Bio: " +n);
                }


                }
        </script>
    </div>

</div>

